# 1a Articles dynamic features

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
import logging
import pandas as pd

sys.path.append("..")

from src.core_utils import setup_logging

In [3]:
# Initialize logging
file_log = "articles_dynamic_features.log"
root_logger = setup_logging(level=logging.DEBUG, log_file=file_log, remove_existing=True)

In [4]:
from src.features_articles import ArticleDynamicFeaturePipeline, ArticleDynamicFeaturePipelineConfig
from src.features_articles import load_optimized_raw_data

# Run pipeline

In [5]:
articles_dynamic_features_config = ArticleDynamicFeaturePipelineConfig.create_default()

In [6]:
articles_dynamic_feature_pipeline = ArticleDynamicFeaturePipeline(articles_dynamic_features_config)

In [7]:
articles_dynamic_feature_pipeline.setup()

2025-05-30 11:22:51 - src.features_articles - INFO - Setting up ArticleDynamicFeaturePipeline
2025-05-30 11:22:51 - src.features_articles - DEBUG - Config: {
  "config_processor": {
    "encoding_strategy": "ordinal",
    "categorical_features": [],
    "numerical_features": [
      "weekly_sales_count",
      "weekly_avg_price",
      "cumulative_mean_age",
      "cumulative_sales_count"
    ],
    "one_hot_features": [],
    "start_week_num": 52,
    "end_week_num": 104
  },
  "subsample": 0.05,
  "seed": 42
}

In [8]:
results_articles_dynamic = articles_dynamic_feature_pipeline.run()

2025-05-30 11:22:51 - src.features_articles - INFO - Loading data for ArticleDynamicFeaturePipeline
2025-05-30 11:22:51 - src.feature_extraction - INFO - Loading optimized raw data from transactions train 0.05 42
2025-05-30 11:22:51 - src.feature_extraction - DEBUG - Loading data from ../data/transactions_train_sample_0.05_42.parquet
2025-05-30 11:22:52 - src.feature_extraction - INFO - Loading optimized raw data from articles train 0.05 42
2025-05-30 11:22:52 - src.feature_extraction - DEBUG - Loading data from ../data/articles_sample_0.05_42.parquet
2025-05-30 11:22:52 - src.feature_extraction - INFO - Loading optimized raw data from customers train 0.05 42
2025-05-30 11:22:52 - src.feature_extraction - DEBUG - Loading data from ../data/customers_sample_0.05_42.parquet
2025-05-30 11:22:52 - src.features_articles - INFO - Processing article dynamic features
2025-05-30 11:22:52 - src.features_articles - INFO - Generating a cross join of articles and weeks from 52 to 104
2025-05-30 11:22:52 - src.features_articles - DEBUG - Found 77382 unique articles
2025-05-30 11:22:52 - src.features_articles - DEBUG - Found 53 unique weeks
2025-05-30 11:22:52 - src.features_articles - DEBUG - Cross join has shape: (4101246, 2)
2025-05-30 11:22:52 - src.features_articles - INFO - Calculating weekly statistics
2025-05-30 11:22:52 - src.features_articles - DEBUG - Weekly sales has shape: (288142, 4)
2025-05-30 11:22:52 - src.features_articles - DEBUG - Weekly sales: Index(['article_id', 'week_num', 'weekly_sales_count', 'weekly_avg_price'], dtype='object')
2025-05-30 11:22:52 - src.features_articles - INFO - Generating weekly statistics features
2025-05-30 11:22:52 - src.features_articles - DEBUG - Weekly statistics features have shape: (4101246, 4)
2025-05-30 11:22:52 - src.features_articles - DEBUG - Weekly statistics features: Index(['article_id', 'week_num', 'weekly_sales_count', 'weekly_avg_price'], dtype='object')
2025-05-30 11:22:52 - src.features_articles - DEBUG - Missing values: article_id            0
week_num              0
weekly_sales_count    0
weekly_avg_price      0
dtype: int64
2025-05-30 11:22:52 - src.features_articles - INFO - Calculating cumulative statistics of customers who bought the article
2025-05-30 11:22:52 - src.features_articles - DEBUG - Cumulative mean age has shape: (288142, 6)
2025-05-30 11:22:52 - src.features_articles - DEBUG - Cumulative mean age: Index(['article_id', 'week_num', 'customer_id', 'age',
       'cumulative_sales_count', 'cumulative_mean_age'],
      dtype='object')
2025-05-30 11:22:52 - src.features_articles - INFO - Generating cumulative statistics
2025-05-30 11:22:53 - src.features_articles - DEBUG - Filling in remaining missing values with median age or 0
2025-05-30 11:22:53 - src.features_articles - DEBUG - Cumulative statistics have shape: (4101246, 6)
2025-05-30 11:22:53 - src.features_articles - DEBUG - Cumulative statistics: Index(['article_id', 'week_num', 'weekly_sales_count', 'weekly_avg_price',
       'cumulative_mean_age', 'cumulative_sales_count'],
      dtype='object')
2025-05-30 11:22:53 - src.features_articles - DEBUG - Missing values: article_id                0
week_num                  0
weekly_sales_count        0
weekly_avg_price          0
cumulative_mean_age       0
cumulative_sales_count    0
dtype: int64
2025-05-30 11:22:53 - src.features_articles - DEBUG - Collecting feature names for 6 columns
2025-05-30 11:22:53 - src.features_articles - DEBUG - Collected 0 categorical features
2025-05-30 11:22:53 - src.features_articles - DEBUG - Collected 4 numerical features
2025-05-30 11:22:53 - src.features_articles - DEBUG - Collected 0 one-hot features
2025-05-30 11:22:53 - src.features_articles - INFO - Saving article dynamic feature result to ../data/preprocessed/articles_dynamic/subsample_0.05_42
2025-05-30 11:22:53 - src.features_articles - INFO - Saved data to ../data/preprocessed/articles_dynamic/subsample_0.05_42/data.parquet
2025-05-30 11:22:53 - src.features_articles - INFO - Saved feature names to ../data/preprocessed/articles_dynamic/subsample_0.05_42/feature_names.json

# Debug

In [9]:
print(results_articles_dynamic.data.shape)
print(results_articles_dynamic.data.columns)
print(results_articles_dynamic.data.isnull().sum())
display(results_articles_dynamic.data.head())

(4101246, 6)
Index(['article_id', 'week_num', 'weekly_sales_count', 'weekly_avg_price',
       'cumulative_mean_age', 'cumulative_sales_count'],
      dtype='object')
article_id                0
week_num                  0
weekly_sales_count        0
weekly_avg_price          0
cumulative_mean_age       0
cumulative_sales_count    0
dtype: int64

,article_id,week_num,weekly_sales_count,weekly_avg_price,cumulative_mean_age,cumulative_sales_count
0,108775015,52,0.0,0.0,32.0,0.0
1,108775015,53,0.0,0.0,32.0,0.0
2,108775015,54,0.0,0.0,32.0,0.0
3,108775015,55,0.0,0.0,32.0,0.0
4,108775015,56,0.0,0.0,32.0,0.0

In [10]:
# Load raw data
articles = load_optimized_raw_data(data_type="articles", subsample=0.05, seed=42)
transactions_train = load_optimized_raw_data(data_type="transactions", sample="train", subsample=0.05, seed=42)
transactions_valid = load_optimized_raw_data(data_type="transactions", sample="valid", subsample=0.05, seed=42)
transactions_test = load_optimized_raw_data(data_type="transactions", sample="test", subsample=0.05, seed=42)
customers = load_optimized_raw_data(data_type="customers", subsample=0.05, seed=42)
transactions = pd.concat([transactions_train, transactions_valid, transactions_test], axis=0, ignore_index=True)

2025-05-30 11:22:53 - src.feature_extraction - INFO - Loading optimized raw data from articles train 0.05 42
2025-05-30 11:22:53 - src.feature_extraction - DEBUG - Loading data from ../data/articles_sample_0.05_42.parquet
2025-05-30 11:22:53 - src.feature_extraction - INFO - Loading optimized raw data from transactions train 0.05 42
2025-05-30 11:22:53 - src.feature_extraction - DEBUG - Loading data from ../data/transactions_train_sample_0.05_42.parquet
2025-05-30 11:22:53 - src.feature_extraction - INFO - Loading optimized raw data from transactions valid 0.05 42
2025-05-30 11:22:53 - src.feature_extraction - DEBUG - Loading data from ../data/transactions_valid_sample_0.05_42.parquet
2025-05-30 11:22:53 - src.feature_extraction - INFO - Loading optimized raw data from transactions test 0.05 42
2025-05-30 11:22:53 - src.feature_extraction - DEBUG - Loading data from ../data/transactions_test_sample_0.05_42.parquet
2025-05-30 11:22:53 - src.feature_extraction - INFO - Loading optimized raw data from customers train 0.05 42
2025-05-30 11:22:53 - src.feature_extraction - DEBUG - Loading data from ../data/customers_sample_0.05_42.parquet

In [11]:
# Since we calculate cumulative stats with a given window, it's possible that some articles are not present in the data for the entire window.
results_articles_dynamic.data.head(29)

,article_id,week_num,weekly_sales_count,weekly_avg_price,cumulative_mean_age,cumulative_sales_count
0,108775015,52,0.0,0.000000,32.000000,0.0
1,108775015,53,0.0,0.000000,32.000000,0.0
2,108775015,54,0.0,0.000000,32.000000,0.0
3,108775015,55,0.0,0.000000,32.000000,0.0
4,108775015,56,0.0,0.000000,32.000000,0.0
5,108775015,57,0.0,0.000000,32.000000,0.0
6,108775015,58,0.0,0.000000,32.000000,0.0
7,108775015,59,0.0,0.000000,32.000000,0.0
8,108775015,60,0.0,0.000000,32.000000,0.0
9,108775015,61,0.0,0.000000,32.000000,0.0
10,108775015,62,1.0,0.008458,23.000000,1.0
11,108775015,63,1.0,0.008458,23.500000,2.0
12,108775015,64,0.0,0.000000,23.500000,2.0
13,108775015,65,0.0,0.000000,23.500000,2.0
14,108775015,66,1.0,0.004390,25.666667,3.0
15,108775015,67,0.0,0.000000,25.666667,3.0
16,108775015,68,0.0,0.000000,25.666667,3.0
17,108775015,69,0.0,0.000000,25.666667,3.0
18,108775015,70,0.0,0.000000,25.666667,3.0
19,108775015,71,0.0,0.000000,25.666667,3.0
20,108775015,72,0.0,0.000000,25.666667,3.0
21,108775015,73,1.0,0.008458,26.500000,4.0
22,108775015,74,0.0,0.000000,26.500000,4.0
23,108775015,75,0.0,0.000000,26.500000,4.0
24,108775015,76,0.0,0.000000,26.500000,4.0
25,108775015,77,0.0,0.000000,26.500000,4.0
26,108775015,78,0.0,0.000000,26.500000,4.0
27,108775015,79,0.0,0.000000,26.500000,4.0
28,108775015,80,0.0,0.000000,26.500000,4.0

In [12]:
transactions.query("article_id == 108775015")

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
1105,2018-09-20,9697567767184863887,108775015,0.008458,1,0
1106,2018-09-20,9697567767184863887,108775015,0.008458,1,0
4515,2018-09-21,16660116983016697586,108775015,0.007712,1,0
5272,2018-09-22,10033972236183063637,108775015,0.008458,1,0
9642,2018-09-24,11035824322183416948,108775015,0.007610,1,0
...,...,...,...,...,...,...
734830,2019-07-26,13363514939111444301,108775015,0.006797,1,44
993662,2019-12-02,1118797876156724048,108775015,0.008458,2,62
1005495,2019-12-10,2601062256681639780,108775015,0.008458,1,63
1042695,2019-12-30,2762924158672000374,108775015,0.004390,1,66
1125371,2020-02-15,15225440495829120141,108775015,0.008458,2,73

In [13]:
results_articles_dynamic.data.article_id.nunique()

77382

In [14]:
articles.shape

(77382, 25)

In [15]:
transactions.week_num.min(), transactions.week_num.max()

(0, 104)

In [16]:
transactions.article_id.nunique()

77382

: