# 1C Customers dynamic features

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
import logging
import pandas as pd

sys.path.append("..")

from src.utils.core_utils import setup_logging

# Initialize logging
file_log = "customer_dynamic_feature.log"
root_logger = setup_logging(level=logging.DEBUG, log_file=file_log, remove_existing=True)

2025-06-05 12:21:28,401 - src.utils.core_utils - INFO - Creating file handler with level: 10
2025-06-05 12:21:28,402 - src.utils.core_utils - DEBUG - Logging setup complete to customer_dynamic_feature.log

In [3]:
from src.feature_customers import CustomerDynamicFeaturePipelineConfig, CustomerDynamicFeaturePipeline

/Users/sharonshiao/Dropbox/Machine_learning/projects/fahsion_recommendation/venv/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

# Run pipeline

In [4]:
customer_dynamic_feature_config = CustomerDynamicFeaturePipelineConfig.create_default()

In [5]:
customer_dynamic_feature_pipeline = CustomerDynamicFeaturePipeline(customer_dynamic_feature_config)

In [6]:
customer_dynamic_feature_pipeline.setup()

2025-06-05 12:21:35,183 - src.feature_customers - INFO - Setting up CustomerDynamicFeaturePipeline
2025-06-05 12:21:35,184 - src.feature_customers - DEBUG - Config: {
  "config_processor": {
    "history_start_week_num": 52,
    "history_end_week_num": 104,
    "start_week_num": 92,
    "end_week_num": 104,
    "k_items": 5
  },
  "subsample": 0.25,
  "seed": 42
}

In [7]:
results_customer_dynamic_feature = customer_dynamic_feature_pipeline.run()

2025-06-05 12:21:35,205 - src.feature_customers - INFO - Loading data for CustomerDynamicFeaturePipeline
2025-06-05 12:21:35,205 - src.feature_extraction - INFO - Loading optimized raw data from transactions train 0.25 42
2025-06-05 12:21:35,206 - src.feature_extraction - DEBUG - Loading data from ../data/transactions_train_sample_0.25_42.parquet
2025-06-05 12:21:35,471 - src.feature_extraction - INFO - Loading optimized raw data from transactions valid 0.25 42
2025-06-05 12:21:35,472 - src.feature_extraction - DEBUG - Loading data from ../data/transactions_valid_sample_0.25_42.parquet
2025-06-05 12:21:35,474 - src.feature_extraction - INFO - Loading optimized raw data from transactions test 0.25 42
2025-06-05 12:21:35,475 - src.feature_extraction - DEBUG - Loading data from ../data/transactions_test_sample_0.25_42.parquet
2025-06-05 12:21:35,546 - src.features_articles - INFO - Loading article embedding result from ../data/preprocessed/articles_embedding/full
2025-06-05 12:21:35,637 - src.features_articles - INFO - Loaded text embeddings from ../data/preprocessed/articles_embedding/full/text_embeddings.npy
2025-06-05 12:21:35,695 - src.features_articles - INFO - Loaded image embeddings from ../data/preprocessed/articles_embedding/full/image_embeddings.npy
2025-06-05 12:21:35,702 - src.features_articles - INFO - Loaded image missing flags from ../data/preprocessed/articles_embedding/full/image_missing.npy
2025-06-05 12:21:35,751 - src.features_articles - INFO - Loaded id to index mapping from ../data/preprocessed/articles_embedding/full/id_to_index.json
2025-06-05 12:21:35,763 - src.feature_customers - INFO - Processing customer dynamic features
2025-06-05 12:21:35,763 - src.feature_customers - DEBUG - Filtering transactions to only include weeks between 52 and 104
2025-06-05 12:21:35,896 - src.feature_customers - DEBUG - Transactions after filtering: (3760517, 6)
2025-06-05 12:21:35,897 - src.feature_customers - DEBUG - Min week: 52
2025-06-05 12:21:35,897 - src.feature_customers - DEBUG - Max week: 104
2025-06-05 12:21:35,897 - src.feature_customers - INFO - Getting last 5 items up to each week
  0%|          | 0/13 [00:00<?, ?it/s]2025-06-05 12:21:37,063 - src.feature_customers - DEBUG - min week: 52
2025-06-05 12:21:37,065 - src.feature_customers - DEBUG - max week: 92
2025-06-05 12:21:37,065 - src.feature_customers - DEBUG - week: 92
  8%|▊         | 1/13 [00:02<00:28,  2.36s/it]2025-06-05 12:21:39,416 - src.feature_customers - DEBUG - min week: 52
2025-06-05 12:21:39,417 - src.feature_customers - DEBUG - max week: 93
2025-06-05 12:21:39,417 - src.feature_customers - DEBUG - week: 93
 15%|█▌        | 2/13 [00:04<00:25,  2.30s/it]2025-06-05 12:21:41,663 - src.feature_customers - DEBUG - min week: 52
2025-06-05 12:21:41,664 - src.feature_customers - DEBUG - max week: 94
2025-06-05 12:21:41,664 - src.feature_customers - DEBUG - week: 94
 23%|██▎       | 3/13 [00:06<00:22,  2.24s/it]2025-06-05 12:21:43,837 - src.feature_customers - DEBUG - min week: 52
2025-06-05 12:21:43,837 - src.feature_customers - DEBUG - max week: 95
2025-06-05 12:21:43,837 - src.feature_customers - DEBUG - week: 95
 31%|███       | 4/13 [00:08<00:20,  2.22s/it]2025-06-05 12:21:46,037 - src.feature_customers - DEBUG - min week: 52
2025-06-05 12:21:46,037 - src.feature_customers - DEBUG - max week: 96
2025-06-05 12:21:46,038 - src.feature_customers - DEBUG - week: 96
 38%|███▊      | 5/13 [00:11<00:17,  2.23s/it]2025-06-05 12:21:48,273 - src.feature_customers - DEBUG - min week: 52
2025-06-05 12:21:48,274 - src.feature_customers - DEBUG - max week: 97
2025-06-05 12:21:48,274 - src.feature_customers - DEBUG - week: 97
 46%|████▌     | 6/13 [00:13<00:15,  2.27s/it]2025-06-05 12:21:50,619 - src.feature_customers - DEBUG - min week: 52
2025-06-05 12:21:50,620 - src.feature_customers - DEBUG - max week: 98
2025-06-05 12:21:50,621 - src.feature_customers - DEBUG - week: 98
 54%|█████▍    | 7/13 [00:15<00:13,  2.32s/it]2025-06-05 12:21:53,051 - src.feature_customers - DEBUG - min week: 52
2025-06-05 12:21:53,052 - src.feature_customers - DEBUG - max week: 99
2025-06-05 12:21:53,052 - src.feature_customers - DEBUG - week: 99
 62%|██████▏   | 8/13 [00:18<00:11,  2.33s/it]2025-06-05 12:21:55,400 - src.feature_customers - DEBUG - min week: 52
2025-06-05 12:21:55,401 - src.feature_customers - DEBUG - max week: 100
2025-06-05 12:21:55,401 - src.feature_customers - DEBUG - week: 100
 69%|██████▉   | 9/13 [00:20<00:09,  2.35s/it]2025-06-05 12:21:57,796 - src.feature_customers - DEBUG - min week: 52
2025-06-05 12:21:57,797 - src.feature_customers - DEBUG - max week: 101
2025-06-05 12:21:57,797 - src.feature_customers - DEBUG - week: 101
 77%|███████▋  | 10/13 [00:23<00:07,  2.34s/it]2025-06-05 12:22:00,120 - src.feature_customers - DEBUG - min week: 52
2025-06-05 12:22:00,121 - src.feature_customers - DEBUG - max week: 102
2025-06-05 12:22:00,121 - src.feature_customers - DEBUG - week: 102
 85%|████████▍ | 11/13 [00:25<00:04,  2.38s/it]2025-06-05 12:22:02,582 - src.feature_customers - DEBUG - min week: 52
2025-06-05 12:22:02,582 - src.feature_customers - DEBUG - max week: 103
2025-06-05 12:22:02,583 - src.feature_customers - DEBUG - week: 103
 92%|█████████▏| 12/13 [00:27<00:02,  2.35s/it]2025-06-05 12:22:04,790 - src.feature_customers - DEBUG - min week: 52
2025-06-05 12:22:04,790 - src.feature_customers - DEBUG - max week: 104
2025-06-05 12:22:04,791 - src.feature_customers - DEBUG - week: 104
100%|██████████| 13/13 [00:30<00:00,  2.34s/it]
2025-06-05 12:22:07,343 - src.feature_customers - DEBUG - Last 5 items by week has shape: (3091273, 4)
2025-06-05 12:22:07,351 - src.feature_customers - INFO - Calculating average embeddings for 3091273 customer-week combinations
2025-06-05 12:24:30,605 - src.feature_customers - DEBUG - Results DataFrame has shape: (3091273, 5)
2025-06-05 12:24:31,089 - src.feature_customers - DEBUG - Customer IDs: 131579
2025-06-05 12:24:31,090 - src.feature_customers - DEBUG - Customer IDs: [    6655656046785830     7717847466058998    18736391114509369 ...
 18311707626632900469 18326362629821347858 18418054986721795659]
2025-06-05 12:24:31,090 - src.feature_customers - INFO - Generating cross join of customer-week pairs
2025-06-05 12:24:31,178 - src.feature_customers - DEBUG - Cross join has shape: (1710527, 2)
2025-06-05 12:24:31,179 - src.feature_customers - DEBUG - Cross join has columns: Index(['customer_id', 'week_num'], dtype='object')
2025-06-05 12:24:31,827 - src.feature_customers - DEBUG - Cross join has shape: (1710527, 5)
2025-06-05 12:24:31,828 - src.feature_customers - DEBUG - Cross join has columns: Index(['customer_id', 'week_num', 'customer_avg_price',
       'customer_avg_text_embedding', 'customer_avg_image_embedding'],
      dtype='object')
2025-06-05 12:24:31,828 - src.feature_customers - INFO - Filling missing values
2025-06-05 12:24:32,458 - src.feature_customers - DEBUG - Cross join after filling missing values has shape: (1710527, 5)
2025-06-05 12:24:32,459 - src.feature_customers - DEBUG - Cross join after filling missing values has columns: Index(['customer_id', 'week_num', 'customer_avg_price',
       'customer_avg_text_embedding', 'customer_avg_image_embedding'],
      dtype='object')
2025-06-05 12:24:32,597 - src.feature_customers - DEBUG - Missing values filled: customer_id                          0
week_num                             0
customer_avg_price                   0
customer_avg_text_embedding     155191
customer_avg_image_embedding    155191
dtype: int64
2025-06-05 12:24:38,315 - src.feature_customers - INFO - Saving customer dynamic feature result to ../data/preprocessed/customers_dynamic/subsample_0.25_42
2025-06-05 12:25:32,338 - src.feature_customers - INFO - Saved data to ../data/preprocessed/customers_dynamic/subsample_0.25_42/data.parquet
2025-06-05 12:25:32,348 - src.feature_customers - INFO - Saved feature names to ../data/preprocessed/customers_dynamic/subsample_0.25_42/feature_names.json

# Checks

In [8]:
results_customer_dynamic_feature.data.info()
print(results_customer_dynamic_feature.data.shape)
display(results_customer_dynamic_feature.data.head())
print(results_customer_dynamic_feature.feature_names)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1710527 entries, 0 to 1710526
Data columns (total 5 columns):
 #   Column                        Dtype
---  ------                        -----
 0   customer_id                   uint64
 1   week_num                      int64
 2   customer_avg_price            float64
 3   customer_avg_text_embedding   object
 4   customer_avg_image_embedding  object
dtypes: float64(1), int64(1), object(2), uint64(1)
memory usage: 65.3+ MB
(1710527, 5)

,customer_id,week_num,customer_avg_price,customer_avg_text_embedding,customer_avg_image_embedding
0,41318098387474,92,0.022017,"[0.005770983, -0.42972183, 0.15940754, 0.12657...","[1.4321077, 0.20973971, 0.09196462, 1.108316, ..."
1,41318098387474,93,0.022017,"[0.005770983, -0.42972183, 0.15940754, 0.12657...","[1.4321077, 0.20973971, 0.09196462, 1.108316, ..."
2,41318098387474,94,0.022017,"[0.005770983, -0.42972183, 0.15940754, 0.12657...","[1.4321077, 0.20973971, 0.09196462, 1.108316, ..."
3,41318098387474,95,0.022017,"[0.005770983, -0.42972183, 0.15940754, 0.12657...","[1.4321077, 0.20973971, 0.09196462, 1.108316, ..."
4,41318098387474,96,0.022017,"[0.005770983, -0.42972183, 0.15940754, 0.12657...","[1.4321077, 0.20973971, 0.09196462, 1.108316, ..."

{'numerical_features': ['customer_avg_price'], 'embedding_features': ['customer_avg_text_embedding', 'customer_avg_image_embedding'], 'one_hot_features': [], 'categorical_features': [], 'id_columns': ['customer_id', 'week_num']}

In [9]:
# Check the shape of the dataframe should match number of customers * number of weeks
print(results_customer_dynamic_feature.data.shape)
print(results_customer_dynamic_feature.data.customer_id.nunique())
print(results_customer_dynamic_feature.data.week_num.value_counts())

(1710527, 5)
131579
week_num
92     131579
93     131579
94     131579
95     131579
96     131579
97     131579
98     131579
99     131579
100    131579
101    131579
102    131579
103    131579
104    131579
Name: count, dtype: int64

## Check that the avg embeddings make sense

In [10]:
import numpy as np

from src.feature_customers import CustomerDynamicFeatureProcessor
from src.feature_extraction import load_optimized_raw_data
from src.features_articles import ArticleEmbeddingResult, get_path_to_article_features
from src.utils.data_checks import test_feature_customer_avg_embedding, test_feature_customer_avg_embedding_pipeline

2025-06-05 12:25:33,305 - matplotlib - DEBUG - matplotlib data path: /Users/sharonshiao/Dropbox/Machine_learning/projects/fahsion_recommendation/venv/lib/python3.12/site-packages/matplotlib/mpl-data
2025-06-05 12:25:33,316 - matplotlib - DEBUG - CONFIGDIR=/Users/sharonshiao/.matplotlib
2025-06-05 12:25:33,529 - matplotlib - DEBUG - interactive is False
2025-06-05 12:25:33,530 - matplotlib - DEBUG - platform is darwin
2025-06-05 12:25:33,672 - matplotlib - DEBUG - CACHEDIR=/Users/sharonshiao/.matplotlib
2025-06-05 12:25:33,680 - matplotlib.font_manager - DEBUG - Using fontManager instance from /Users/sharonshiao/.matplotlib/fontlist-v390.json

In [11]:
subsample = customer_dynamic_feature_config.subsample
seed = customer_dynamic_feature_config.seed
transactions_train = load_optimized_raw_data(data_type="transactions", sample="train", subsample=subsample, seed=seed)
transactions_valid = load_optimized_raw_data(data_type="transactions", sample="valid", subsample=subsample, seed=seed)
transactions_test = load_optimized_raw_data(data_type="transactions", sample="test", subsample=subsample, seed=seed)
path_article_embeddings = get_path_to_article_features(feature_type="embedding", subsample=1, seed=seed)
results_article_embeddings = ArticleEmbeddingResult.load(path_to_dir=path_article_embeddings)

2025-06-05 12:25:35,075 - src.feature_extraction - INFO - Loading optimized raw data from transactions train 0.25 42
2025-06-05 12:25:35,076 - src.feature_extraction - DEBUG - Loading data from ../data/transactions_train_sample_0.25_42.parquet
2025-06-05 12:25:35,298 - src.feature_extraction - INFO - Loading optimized raw data from transactions valid 0.25 42
2025-06-05 12:25:35,298 - src.feature_extraction - DEBUG - Loading data from ../data/transactions_valid_sample_0.25_42.parquet
2025-06-05 12:25:35,315 - src.feature_extraction - INFO - Loading optimized raw data from transactions test 0.25 42
2025-06-05 12:25:35,316 - src.feature_extraction - DEBUG - Loading data from ../data/transactions_test_sample_0.25_42.parquet
2025-06-05 12:25:35,326 - src.features_articles - INFO - Loading article embedding result from ../data/preprocessed/articles_embedding/full
2025-06-05 12:25:35,630 - src.features_articles - INFO - Loaded text embeddings from ../data/preprocessed/articles_embedding/full/text_embeddings.npy
2025-06-05 12:25:35,813 - src.features_articles - INFO - Loaded image embeddings from ../data/preprocessed/articles_embedding/full/image_embeddings.npy
2025-06-05 12:25:35,820 - src.features_articles - INFO - Loaded image missing flags from ../data/preprocessed/articles_embedding/full/image_missing.npy
2025-06-05 12:25:35,875 - src.features_articles - INFO - Loaded id to index mapping from ../data/preprocessed/articles_embedding/full/id_to_index.json

In [12]:
transactions = pd.concat([transactions_train, transactions_valid, transactions_test], ignore_index=True)
del transactions_train, transactions_valid, transactions_test

In [13]:
# Test metadata of pipeline
test_feature_customer_avg_embedding_pipeline(
    results_customer_dynamic_feature,
    transactions,
    customer_dynamic_feature_config,
)

Checks passed

In [14]:
# Test accuracy of avg embeddings
for customer_id in results_customer_dynamic_feature.data.customer_id.unique()[:5]:
    test_feature_customer_avg_embedding(
        results_customer_dynamic_feature,
        transactions,
        results_article_embeddings,
        customer_dynamic_feature_config,
        customer_id,
    )
    print("=" * 80)

Customer 41318098387474 has 13 weeks: [ 92  93  94  95  96  97  98  99 100 101 102 103 104]

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
6822314,2020-06-17,41318098387474,688728023,0.025407,1,91
6822315,2020-06-17,41318098387474,842605012,0.025407,1,91
6822316,2020-06-17,41318098387474,858918004,0.025407,1,91
6552190,2020-05-25,41318098387474,579541075,0.016932,1,87
6552191,2020-05-25,41318098387474,768931001,0.016932,1,87

Calculating avg price and embeddings for customer 41318098387474 and week 92
Checks for customer 41318098387474 and week 92 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
6822314,2020-06-17,41318098387474,688728023,0.025407,1,91
6822315,2020-06-17,41318098387474,842605012,0.025407,1,91
6822316,2020-06-17,41318098387474,858918004,0.025407,1,91
6552190,2020-05-25,41318098387474,579541075,0.016932,1,87
6552191,2020-05-25,41318098387474,768931001,0.016932,1,87

Calculating avg price and embeddings for customer 41318098387474 and week 93
Checks for customer 41318098387474 and week 93 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
6822314,2020-06-17,41318098387474,688728023,0.025407,1,91
6822315,2020-06-17,41318098387474,842605012,0.025407,1,91
6822316,2020-06-17,41318098387474,858918004,0.025407,1,91
6552190,2020-05-25,41318098387474,579541075,0.016932,1,87
6552191,2020-05-25,41318098387474,768931001,0.016932,1,87

Calculating avg price and embeddings for customer 41318098387474 and week 94
Checks for customer 41318098387474 and week 94 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
6822314,2020-06-17,41318098387474,688728023,0.025407,1,91
6822315,2020-06-17,41318098387474,842605012,0.025407,1,91
6822316,2020-06-17,41318098387474,858918004,0.025407,1,91
6552190,2020-05-25,41318098387474,579541075,0.016932,1,87
6552191,2020-05-25,41318098387474,768931001,0.016932,1,87

Calculating avg price and embeddings for customer 41318098387474 and week 95
Checks for customer 41318098387474 and week 95 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
6822314,2020-06-17,41318098387474,688728023,0.025407,1,91
6822315,2020-06-17,41318098387474,842605012,0.025407,1,91
6822316,2020-06-17,41318098387474,858918004,0.025407,1,91
6552190,2020-05-25,41318098387474,579541075,0.016932,1,87
6552191,2020-05-25,41318098387474,768931001,0.016932,1,87

Calculating avg price and embeddings for customer 41318098387474 and week 96
Checks for customer 41318098387474 and week 96 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
6822314,2020-06-17,41318098387474,688728023,0.025407,1,91
6822315,2020-06-17,41318098387474,842605012,0.025407,1,91
6822316,2020-06-17,41318098387474,858918004,0.025407,1,91
6552190,2020-05-25,41318098387474,579541075,0.016932,1,87
6552191,2020-05-25,41318098387474,768931001,0.016932,1,87

Calculating avg price and embeddings for customer 41318098387474 and week 97
Checks for customer 41318098387474 and week 97 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7509099,2020-08-08,41318098387474,868879003,0.033881,1,98
6822314,2020-06-17,41318098387474,688728023,0.025407,1,91
6822315,2020-06-17,41318098387474,842605012,0.025407,1,91
6822316,2020-06-17,41318098387474,858918004,0.025407,1,91
6552190,2020-05-25,41318098387474,579541075,0.016932,1,87

Calculating avg price and embeddings for customer 41318098387474 and week 98
Checks for customer 41318098387474 and week 98 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7509099,2020-08-08,41318098387474,868879003,0.033881,1,98
6822314,2020-06-17,41318098387474,688728023,0.025407,1,91
6822315,2020-06-17,41318098387474,842605012,0.025407,1,91
6822316,2020-06-17,41318098387474,858918004,0.025407,1,91
6552190,2020-05-25,41318098387474,579541075,0.016932,1,87

Calculating avg price and embeddings for customer 41318098387474 and week 99
Checks for customer 41318098387474 and week 99 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7509099,2020-08-08,41318098387474,868879003,0.033881,1,98
6822314,2020-06-17,41318098387474,688728023,0.025407,1,91
6822315,2020-06-17,41318098387474,842605012,0.025407,1,91
6822316,2020-06-17,41318098387474,858918004,0.025407,1,91
6552190,2020-05-25,41318098387474,579541075,0.016932,1,87

Calculating avg price and embeddings for customer 41318098387474 and week 100
Checks for customer 41318098387474 and week 100 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7509099,2020-08-08,41318098387474,868879003,0.033881,1,98
6822314,2020-06-17,41318098387474,688728023,0.025407,1,91
6822315,2020-06-17,41318098387474,842605012,0.025407,1,91
6822316,2020-06-17,41318098387474,858918004,0.025407,1,91
6552190,2020-05-25,41318098387474,579541075,0.016932,1,87

Calculating avg price and embeddings for customer 41318098387474 and week 101
Checks for customer 41318098387474 and week 101 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7509099,2020-08-08,41318098387474,868879003,0.033881,1,98
6822314,2020-06-17,41318098387474,688728023,0.025407,1,91
6822315,2020-06-17,41318098387474,842605012,0.025407,1,91
6822316,2020-06-17,41318098387474,858918004,0.025407,1,91
6552190,2020-05-25,41318098387474,579541075,0.016932,1,87

Calculating avg price and embeddings for customer 41318098387474 and week 102
Checks for customer 41318098387474 and week 102 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7509099,2020-08-08,41318098387474,868879003,0.033881,1,98
6822314,2020-06-17,41318098387474,688728023,0.025407,1,91
6822315,2020-06-17,41318098387474,842605012,0.025407,1,91
6822316,2020-06-17,41318098387474,858918004,0.025407,1,91
6552190,2020-05-25,41318098387474,579541075,0.016932,1,87

Calculating avg price and embeddings for customer 41318098387474 and week 103
Checks for customer 41318098387474 and week 103 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7509099,2020-08-08,41318098387474,868879003,0.033881,1,98
6822314,2020-06-17,41318098387474,688728023,0.025407,1,91
6822315,2020-06-17,41318098387474,842605012,0.025407,1,91
6822316,2020-06-17,41318098387474,858918004,0.025407,1,91
6552190,2020-05-25,41318098387474,579541075,0.016932,1,87

Calculating avg price and embeddings for customer 41318098387474 and week 104
Checks for customer 41318098387474 and week 104 passed
================================================================================
Customer 200292573348128 has 13 weeks: [ 92  93  94  95  96  97  98  99 100 101 102 103 104]

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
6984110,2020-06-25,200292573348128,715624010,0.012271,2,92
6747190,2020-06-10,200292573348128,824490001,0.050831,2,90
6747191,2020-06-10,200292573348128,865073003,0.033881,2,90
6565307,2020-05-26,200292573348128,684209032,0.024356,2,87
6565308,2020-05-26,200292573348128,811925001,0.029237,2,87

Calculating avg price and embeddings for customer 200292573348128 and week 92
Checks for customer 200292573348128 and week 92 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7160711,2020-07-07,200292573348128,906741001,0.067780,2,93
6984110,2020-06-25,200292573348128,715624010,0.012271,2,92
6747190,2020-06-10,200292573348128,824490001,0.050831,2,90
6747191,2020-06-10,200292573348128,865073003,0.033881,2,90
6565307,2020-05-26,200292573348128,684209032,0.024356,2,87

Calculating avg price and embeddings for customer 200292573348128 and week 93
Checks for customer 200292573348128 and week 93 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7160711,2020-07-07,200292573348128,906741001,0.067780,2,93
6984110,2020-06-25,200292573348128,715624010,0.012271,2,92
6747190,2020-06-10,200292573348128,824490001,0.050831,2,90
6747191,2020-06-10,200292573348128,865073003,0.033881,2,90
6565307,2020-05-26,200292573348128,684209032,0.024356,2,87

Calculating avg price and embeddings for customer 200292573348128 and week 94
Checks for customer 200292573348128 and week 94 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7305799,2020-07-21,200292573348128,456163060,0.033881,2,95
7305800,2020-07-21,200292573348128,784332002,0.025407,2,95
7305801,2020-07-21,200292573348128,847811001,0.025407,2,95
7305802,2020-07-21,200292573348128,863570003,0.016932,2,95
7295938,2020-07-20,200292573348128,748582001,0.064305,2,95

Calculating avg price and embeddings for customer 200292573348128 and week 95
Checks for customer 200292573348128 and week 95 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7339023,2020-07-24,200292573348128,688537029,0.016932,2,96
7316302,2020-07-22,200292573348128,599580086,0.011847,2,96
7316303,2020-07-22,200292573348128,784332002,0.025407,2,96
7316304,2020-07-22,200292573348128,827968001,0.016932,2,96
7316305,2020-07-22,200292573348128,880777001,0.025407,2,96

Calculating avg price and embeddings for customer 200292573348128 and week 96
Checks for customer 200292573348128 and week 96 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7339023,2020-07-24,200292573348128,688537029,0.016932,2,96
7316302,2020-07-22,200292573348128,599580086,0.011847,2,96
7316303,2020-07-22,200292573348128,784332002,0.025407,2,96
7316304,2020-07-22,200292573348128,827968001,0.016932,2,96
7316305,2020-07-22,200292573348128,880777001,0.025407,2,96

Calculating avg price and embeddings for customer 200292573348128 and week 97
Checks for customer 200292573348128 and week 97 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7339023,2020-07-24,200292573348128,688537029,0.016932,2,96
7316302,2020-07-22,200292573348128,599580086,0.011847,2,96
7316303,2020-07-22,200292573348128,784332002,0.025407,2,96
7316304,2020-07-22,200292573348128,827968001,0.016932,2,96
7316305,2020-07-22,200292573348128,880777001,0.025407,2,96

Calculating avg price and embeddings for customer 200292573348128 and week 98
Checks for customer 200292573348128 and week 98 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7544210,2020-08-12,200292573348128,690936003,0.050831,2,99
7544211,2020-08-12,200292573348128,749699002,0.025407,2,99
7544212,2020-08-12,200292573348128,816563004,0.013542,2,99
7544213,2020-08-12,200292573348128,894668004,0.025407,2,99
7339023,2020-07-24,200292573348128,688537029,0.016932,2,96

Calculating avg price and embeddings for customer 200292573348128 and week 99
Checks for customer 200292573348128 and week 99 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7544210,2020-08-12,200292573348128,690936003,0.050831,2,99
7544211,2020-08-12,200292573348128,749699002,0.025407,2,99
7544212,2020-08-12,200292573348128,816563004,0.013542,2,99
7544213,2020-08-12,200292573348128,894668004,0.025407,2,99
7339023,2020-07-24,200292573348128,688537029,0.016932,2,96

Calculating avg price and embeddings for customer 200292573348128 and week 100
Checks for customer 200292573348128 and week 100 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7544210,2020-08-12,200292573348128,690936003,0.050831,2,99
7544211,2020-08-12,200292573348128,749699002,0.025407,2,99
7544212,2020-08-12,200292573348128,816563004,0.013542,2,99
7544213,2020-08-12,200292573348128,894668004,0.025407,2,99
7339023,2020-07-24,200292573348128,688537029,0.016932,2,96

Calculating avg price and embeddings for customer 200292573348128 and week 101
Checks for customer 200292573348128 and week 101 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7744723,2020-09-02,200292573348128,903861001,0.044051,2,102
7544210,2020-08-12,200292573348128,690936003,0.050831,2,99
7544211,2020-08-12,200292573348128,749699002,0.025407,2,99
7544212,2020-08-12,200292573348128,816563004,0.013542,2,99
7544213,2020-08-12,200292573348128,894668004,0.025407,2,99

Calculating avg price and embeddings for customer 200292573348128 and week 102
Checks for customer 200292573348128 and week 102 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7744723,2020-09-02,200292573348128,903861001,0.044051,2,102
7544210,2020-08-12,200292573348128,690936003,0.050831,2,99
7544211,2020-08-12,200292573348128,749699002,0.025407,2,99
7544212,2020-08-12,200292573348128,816563004,0.013542,2,99
7544213,2020-08-12,200292573348128,894668004,0.025407,2,99

Calculating avg price and embeddings for customer 200292573348128 and week 103
Checks for customer 200292573348128 and week 103 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7744723,2020-09-02,200292573348128,903861001,0.044051,2,102
7544210,2020-08-12,200292573348128,690936003,0.050831,2,99
7544211,2020-08-12,200292573348128,749699002,0.025407,2,99
7544212,2020-08-12,200292573348128,816563004,0.013542,2,99
7544213,2020-08-12,200292573348128,894668004,0.025407,2,99

Calculating avg price and embeddings for customer 200292573348128 and week 104
Checks for customer 200292573348128 and week 104 passed
================================================================================
Customer 345001598676045 has 13 weeks: [ 92  93  94  95  96  97  98  99 100 101 102 103 104]

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7043518,2020-06-28,345001598676045,818030001,0.016932,1,92
7043519,2020-06-28,345001598676045,832362002,0.025407,1,92
7043520,2020-06-28,345001598676045,852775001,0.033881,1,92
5542413,2020-02-10,345001598676045,763275001,0.008458,1,72
5542414,2020-02-10,345001598676045,763275002,0.008458,1,72

Calculating avg price and embeddings for customer 345001598676045 and week 92
Checks for customer 345001598676045 and week 92 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7043518,2020-06-28,345001598676045,818030001,0.016932,1,92
7043519,2020-06-28,345001598676045,832362002,0.025407,1,92
7043520,2020-06-28,345001598676045,852775001,0.033881,1,92
5542413,2020-02-10,345001598676045,763275001,0.008458,1,72
5542414,2020-02-10,345001598676045,763275002,0.008458,1,72

Calculating avg price and embeddings for customer 345001598676045 and week 93
Checks for customer 345001598676045 and week 93 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7043518,2020-06-28,345001598676045,818030001,0.016932,1,92
7043519,2020-06-28,345001598676045,832362002,0.025407,1,92
7043520,2020-06-28,345001598676045,852775001,0.033881,1,92
5542413,2020-02-10,345001598676045,763275001,0.008458,1,72
5542414,2020-02-10,345001598676045,763275002,0.008458,1,72

Calculating avg price and embeddings for customer 345001598676045 and week 94
Checks for customer 345001598676045 and week 94 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7043518,2020-06-28,345001598676045,818030001,0.016932,1,92
7043519,2020-06-28,345001598676045,832362002,0.025407,1,92
7043520,2020-06-28,345001598676045,852775001,0.033881,1,92
5542413,2020-02-10,345001598676045,763275001,0.008458,1,72
5542414,2020-02-10,345001598676045,763275002,0.008458,1,72

Calculating avg price and embeddings for customer 345001598676045 and week 95
Checks for customer 345001598676045 and week 95 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7043518,2020-06-28,345001598676045,818030001,0.016932,1,92
7043519,2020-06-28,345001598676045,832362002,0.025407,1,92
7043520,2020-06-28,345001598676045,852775001,0.033881,1,92
5542413,2020-02-10,345001598676045,763275001,0.008458,1,72
5542414,2020-02-10,345001598676045,763275002,0.008458,1,72

Calculating avg price and embeddings for customer 345001598676045 and week 96
Checks for customer 345001598676045 and week 96 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7043518,2020-06-28,345001598676045,818030001,0.016932,1,92
7043519,2020-06-28,345001598676045,832362002,0.025407,1,92
7043520,2020-06-28,345001598676045,852775001,0.033881,1,92
5542413,2020-02-10,345001598676045,763275001,0.008458,1,72
5542414,2020-02-10,345001598676045,763275002,0.008458,1,72

Calculating avg price and embeddings for customer 345001598676045 and week 97
Checks for customer 345001598676045 and week 97 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7043518,2020-06-28,345001598676045,818030001,0.016932,1,92
7043519,2020-06-28,345001598676045,832362002,0.025407,1,92
7043520,2020-06-28,345001598676045,852775001,0.033881,1,92
5542413,2020-02-10,345001598676045,763275001,0.008458,1,72
5542414,2020-02-10,345001598676045,763275002,0.008458,1,72

Calculating avg price and embeddings for customer 345001598676045 and week 98
Checks for customer 345001598676045 and week 98 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7043518,2020-06-28,345001598676045,818030001,0.016932,1,92
7043519,2020-06-28,345001598676045,832362002,0.025407,1,92
7043520,2020-06-28,345001598676045,852775001,0.033881,1,92
5542413,2020-02-10,345001598676045,763275001,0.008458,1,72
5542414,2020-02-10,345001598676045,763275002,0.008458,1,72

Calculating avg price and embeddings for customer 345001598676045 and week 99
Checks for customer 345001598676045 and week 99 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7043518,2020-06-28,345001598676045,818030001,0.016932,1,92
7043519,2020-06-28,345001598676045,832362002,0.025407,1,92
7043520,2020-06-28,345001598676045,852775001,0.033881,1,92
5542413,2020-02-10,345001598676045,763275001,0.008458,1,72
5542414,2020-02-10,345001598676045,763275002,0.008458,1,72

Calculating avg price and embeddings for customer 345001598676045 and week 100
Checks for customer 345001598676045 and week 100 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7043518,2020-06-28,345001598676045,818030001,0.016932,1,92
7043519,2020-06-28,345001598676045,832362002,0.025407,1,92
7043520,2020-06-28,345001598676045,852775001,0.033881,1,92
5542413,2020-02-10,345001598676045,763275001,0.008458,1,72
5542414,2020-02-10,345001598676045,763275002,0.008458,1,72

Calculating avg price and embeddings for customer 345001598676045 and week 101
Checks for customer 345001598676045 and week 101 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7043518,2020-06-28,345001598676045,818030001,0.016932,1,92
7043519,2020-06-28,345001598676045,832362002,0.025407,1,92
7043520,2020-06-28,345001598676045,852775001,0.033881,1,92
5542413,2020-02-10,345001598676045,763275001,0.008458,1,72
5542414,2020-02-10,345001598676045,763275002,0.008458,1,72

Calculating avg price and embeddings for customer 345001598676045 and week 102
Checks for customer 345001598676045 and week 102 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7043518,2020-06-28,345001598676045,818030001,0.016932,1,92
7043519,2020-06-28,345001598676045,832362002,0.025407,1,92
7043520,2020-06-28,345001598676045,852775001,0.033881,1,92
5542413,2020-02-10,345001598676045,763275001,0.008458,1,72
5542414,2020-02-10,345001598676045,763275002,0.008458,1,72

Calculating avg price and embeddings for customer 345001598676045 and week 103
Checks for customer 345001598676045 and week 103 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7043518,2020-06-28,345001598676045,818030001,0.016932,1,92
7043519,2020-06-28,345001598676045,832362002,0.025407,1,92
7043520,2020-06-28,345001598676045,852775001,0.033881,1,92
5542413,2020-02-10,345001598676045,763275001,0.008458,1,72
5542414,2020-02-10,345001598676045,763275002,0.008458,1,72

Calculating avg price and embeddings for customer 345001598676045 and week 104
Checks for customer 345001598676045 and week 104 passed
================================================================================
Customer 649760207043851 has 13 weeks: [ 92  93  94  95  96  97  98  99 100 101 102 103 104]

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
6706148,2020-06-06,649760207043851,556539011,0.002814,1,89
6706149,2020-06-06,649760207043851,556539028,0.002797,1,89
6706150,2020-06-06,649760207043851,556539039,0.002814,1,89
6213171,2020-04-22,649760207043851,811925005,0.030492,2,83
6213173,2020-04-22,649760207043851,811927004,0.022017,2,83

Calculating avg price and embeddings for customer 649760207043851 and week 92
Checks for customer 649760207043851 and week 92 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
6706148,2020-06-06,649760207043851,556539011,0.002814,1,89
6706149,2020-06-06,649760207043851,556539028,0.002797,1,89
6706150,2020-06-06,649760207043851,556539039,0.002814,1,89
6213171,2020-04-22,649760207043851,811925005,0.030492,2,83
6213173,2020-04-22,649760207043851,811927004,0.022017,2,83

Calculating avg price and embeddings for customer 649760207043851 and week 93
Checks for customer 649760207043851 and week 93 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
6706148,2020-06-06,649760207043851,556539011,0.002814,1,89
6706149,2020-06-06,649760207043851,556539028,0.002797,1,89
6706150,2020-06-06,649760207043851,556539039,0.002814,1,89
6213171,2020-04-22,649760207043851,811925005,0.030492,2,83
6213173,2020-04-22,649760207043851,811927004,0.022017,2,83

Calculating avg price and embeddings for customer 649760207043851 and week 94
Checks for customer 649760207043851 and week 94 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
6706148,2020-06-06,649760207043851,556539011,0.002814,1,89
6706149,2020-06-06,649760207043851,556539028,0.002797,1,89
6706150,2020-06-06,649760207043851,556539039,0.002814,1,89
6213171,2020-04-22,649760207043851,811925005,0.030492,2,83
6213173,2020-04-22,649760207043851,811927004,0.022017,2,83

Calculating avg price and embeddings for customer 649760207043851 and week 95
Checks for customer 649760207043851 and week 95 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7327846,2020-07-23,649760207043851,696587001,0.010153,1,96
7327847,2020-07-23,649760207043851,869198003,0.001678,1,96
7316306,2020-07-22,649760207043851,554450036,0.033881,1,96
7316307,2020-07-22,649760207043851,878502001,0.022017,1,96
6706148,2020-06-06,649760207043851,556539011,0.002814,1,89

Calculating avg price and embeddings for customer 649760207043851 and week 96
Checks for customer 649760207043851 and week 96 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7327846,2020-07-23,649760207043851,696587001,0.010153,1,96
7327847,2020-07-23,649760207043851,869198003,0.001678,1,96
7316306,2020-07-22,649760207043851,554450036,0.033881,1,96
7316307,2020-07-22,649760207043851,878502001,0.022017,1,96
6706148,2020-06-06,649760207043851,556539011,0.002814,1,89

Calculating avg price and embeddings for customer 649760207043851 and week 97
Checks for customer 649760207043851 and week 97 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7327846,2020-07-23,649760207043851,696587001,0.010153,1,96
7327847,2020-07-23,649760207043851,869198003,0.001678,1,96
7316306,2020-07-22,649760207043851,554450036,0.033881,1,96
7316307,2020-07-22,649760207043851,878502001,0.022017,1,96
6706148,2020-06-06,649760207043851,556539011,0.002814,1,89

Calculating avg price and embeddings for customer 649760207043851 and week 98
Checks for customer 649760207043851 and week 98 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7327846,2020-07-23,649760207043851,696587001,0.010153,1,96
7327847,2020-07-23,649760207043851,869198003,0.001678,1,96
7316306,2020-07-22,649760207043851,554450036,0.033881,1,96
7316307,2020-07-22,649760207043851,878502001,0.022017,1,96
6706148,2020-06-06,649760207043851,556539011,0.002814,1,89

Calculating avg price and embeddings for customer 649760207043851 and week 99
Checks for customer 649760207043851 and week 99 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7327846,2020-07-23,649760207043851,696587001,0.010153,1,96
7327847,2020-07-23,649760207043851,869198003,0.001678,1,96
7316306,2020-07-22,649760207043851,554450036,0.033881,1,96
7316307,2020-07-22,649760207043851,878502001,0.022017,1,96
6706148,2020-06-06,649760207043851,556539011,0.002814,1,89

Calculating avg price and embeddings for customer 649760207043851 and week 100
Checks for customer 649760207043851 and week 100 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7327846,2020-07-23,649760207043851,696587001,0.010153,1,96
7327847,2020-07-23,649760207043851,869198003,0.001678,1,96
7316306,2020-07-22,649760207043851,554450036,0.033881,1,96
7316307,2020-07-22,649760207043851,878502001,0.022017,1,96
6706148,2020-06-06,649760207043851,556539011,0.002814,1,89

Calculating avg price and embeddings for customer 649760207043851 and week 101
Checks for customer 649760207043851 and week 101 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7327846,2020-07-23,649760207043851,696587001,0.010153,1,96
7327847,2020-07-23,649760207043851,869198003,0.001678,1,96
7316306,2020-07-22,649760207043851,554450036,0.033881,1,96
7316307,2020-07-22,649760207043851,878502001,0.022017,1,96
6706148,2020-06-06,649760207043851,556539011,0.002814,1,89

Calculating avg price and embeddings for customer 649760207043851 and week 102
Checks for customer 649760207043851 and week 102 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7327846,2020-07-23,649760207043851,696587001,0.010153,1,96
7327847,2020-07-23,649760207043851,869198003,0.001678,1,96
7316306,2020-07-22,649760207043851,554450036,0.033881,1,96
7316307,2020-07-22,649760207043851,878502001,0.022017,1,96
6706148,2020-06-06,649760207043851,556539011,0.002814,1,89

Calculating avg price and embeddings for customer 649760207043851 and week 103
Checks for customer 649760207043851 and week 103 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7327846,2020-07-23,649760207043851,696587001,0.010153,1,96
7327847,2020-07-23,649760207043851,869198003,0.001678,1,96
7316306,2020-07-22,649760207043851,554450036,0.033881,1,96
7316307,2020-07-22,649760207043851,878502001,0.022017,1,96
6706148,2020-06-06,649760207043851,556539011,0.002814,1,89

Calculating avg price and embeddings for customer 649760207043851 and week 104
Checks for customer 649760207043851 and week 104 passed
================================================================================
Customer 857913002275398 has 13 weeks: [ 92  93  94  95  96  97  98  99 100 101 102 103 104]

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7025093,2020-06-27,857913002275398,685604054,0.015237,1,92
7025094,2020-06-27,857913002275398,685811015,0.016932,1,92
7025095,2020-06-27,857913002275398,803772001,0.011847,1,92
7025096,2020-06-27,857913002275398,803772002,0.011847,1,92
7025097,2020-06-27,857913002275398,859105005,0.016932,1,92

Calculating avg price and embeddings for customer 857913002275398 and week 92
Checks for customer 857913002275398 and week 92 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7025093,2020-06-27,857913002275398,685604054,0.015237,1,92
7025094,2020-06-27,857913002275398,685811015,0.016932,1,92
7025095,2020-06-27,857913002275398,803772001,0.011847,1,92
7025096,2020-06-27,857913002275398,803772002,0.011847,1,92
7025097,2020-06-27,857913002275398,859105005,0.016932,1,92

Calculating avg price and embeddings for customer 857913002275398 and week 93
Checks for customer 857913002275398 and week 93 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7172095,2020-07-08,857913002275398,599580068,0.008458,1,94
7172096,2020-07-08,857913002275398,776237011,0.025407,1,94
7172097,2020-07-08,857913002275398,844294001,0.011847,1,94
7025093,2020-06-27,857913002275398,685604054,0.015237,1,92
7025094,2020-06-27,857913002275398,685811015,0.016932,1,92

Calculating avg price and embeddings for customer 857913002275398 and week 94
Checks for customer 857913002275398 and week 94 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7268317,2020-07-17,857913002275398,599580038,0.016932,1,95
7268318,2020-07-17,857913002275398,776237011,0.025407,1,95
7268319,2020-07-17,857913002275398,832481002,0.016932,1,95
7172095,2020-07-08,857913002275398,599580068,0.008458,1,94
7172097,2020-07-08,857913002275398,844294001,0.011847,1,94

Calculating avg price and embeddings for customer 857913002275398 and week 95
Checks for customer 857913002275398 and week 95 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7327848,2020-07-23,857913002275398,599580012,0.016932,1,96
7327849,2020-07-23,857913002275398,811907011,0.025407,1,96
7327850,2020-07-23,857913002275398,865594002,0.025407,1,96
7327851,2020-07-23,857913002275398,897693001,0.016932,1,96
7268317,2020-07-17,857913002275398,599580038,0.016932,1,95

Calculating avg price and embeddings for customer 857913002275398 and week 96
Checks for customer 857913002275398 and week 96 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7327848,2020-07-23,857913002275398,599580012,0.016932,1,96
7327849,2020-07-23,857913002275398,811907011,0.025407,1,96
7327850,2020-07-23,857913002275398,865594002,0.025407,1,96
7327851,2020-07-23,857913002275398,897693001,0.016932,1,96
7268317,2020-07-17,857913002275398,599580038,0.016932,1,95

Calculating avg price and embeddings for customer 857913002275398 and week 97
Checks for customer 857913002275398 and week 97 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7498043,2020-08-07,857913002275398,720504001,0.033881,1,98
7498044,2020-08-07,857913002275398,720504008,0.033881,1,98
7498045,2020-08-07,857913002275398,863456003,0.025407,1,98
7498046,2020-08-07,857913002275398,863587002,0.016932,1,98
7327848,2020-07-23,857913002275398,599580012,0.016932,1,96

Calculating avg price and embeddings for customer 857913002275398 and week 98
Checks for customer 857913002275398 and week 98 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7580313,2020-08-15,857913002275398,636207006,0.033881,1,99
7580314,2020-08-15,857913002275398,863456003,0.025407,1,99
7498043,2020-08-07,857913002275398,720504001,0.033881,1,98
7498044,2020-08-07,857913002275398,720504008,0.033881,1,98
7498046,2020-08-07,857913002275398,863587002,0.016932,1,98

Calculating avg price and embeddings for customer 857913002275398 and week 99
Checks for customer 857913002275398 and week 99 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7580313,2020-08-15,857913002275398,636207006,0.033881,1,99
7580314,2020-08-15,857913002275398,863456003,0.025407,1,99
7498043,2020-08-07,857913002275398,720504001,0.033881,1,98
7498044,2020-08-07,857913002275398,720504008,0.033881,1,98
7498046,2020-08-07,857913002275398,863587002,0.016932,1,98

Calculating avg price and embeddings for customer 857913002275398 and week 100
Checks for customer 857913002275398 and week 100 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7580313,2020-08-15,857913002275398,636207006,0.033881,1,99
7580314,2020-08-15,857913002275398,863456003,0.025407,1,99
7498043,2020-08-07,857913002275398,720504001,0.033881,1,98
7498044,2020-08-07,857913002275398,720504008,0.033881,1,98
7498046,2020-08-07,857913002275398,863587002,0.016932,1,98

Calculating avg price and embeddings for customer 857913002275398 and week 101
Checks for customer 857913002275398 and week 101 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7580313,2020-08-15,857913002275398,636207006,0.033881,1,99
7580314,2020-08-15,857913002275398,863456003,0.025407,1,99
7498043,2020-08-07,857913002275398,720504001,0.033881,1,98
7498044,2020-08-07,857913002275398,720504008,0.033881,1,98
7498046,2020-08-07,857913002275398,863587002,0.016932,1,98

Calculating avg price and embeddings for customer 857913002275398 and week 102
Checks for customer 857913002275398 and week 102 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7580313,2020-08-15,857913002275398,636207006,0.033881,1,99
7580314,2020-08-15,857913002275398,863456003,0.025407,1,99
7498043,2020-08-07,857913002275398,720504001,0.033881,1,98
7498044,2020-08-07,857913002275398,720504008,0.033881,1,98
7498046,2020-08-07,857913002275398,863587002,0.016932,1,98

Calculating avg price and embeddings for customer 857913002275398 and week 103
Checks for customer 857913002275398 and week 103 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
7580313,2020-08-15,857913002275398,636207006,0.033881,1,99
7580314,2020-08-15,857913002275398,863456003,0.025407,1,99
7498043,2020-08-07,857913002275398,720504001,0.033881,1,98
7498044,2020-08-07,857913002275398,720504008,0.033881,1,98
7498046,2020-08-07,857913002275398,863587002,0.016932,1,98

Calculating avg price and embeddings for customer 857913002275398 and week 104
Checks for customer 857913002275398 and week 104 passed
================================================================================