# 1C Customers dynamic features

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
import logging
import pandas as pd

sys.path.append("..")

from src.utils.core_utils import setup_logging

# Initialize logging
file_log = "customer_dynamic_feature.log"
root_logger = setup_logging(level=logging.DEBUG, log_file=file_log, remove_existing=True)

2025-06-03 11:51:14,660 - src.utils.core_utils - INFO - Creating file handler with level: 10
2025-06-03 11:51:14,661 - src.utils.core_utils - DEBUG - Logging setup complete to customer_dynamic_feature.log

In [3]:
from src.feature_customers import CustomerDynamicFeaturePipelineConfig, CustomerDynamicFeaturePipeline

/Users/sharonshiao/Dropbox/Machine_learning/projects/fahsion_recommendation/venv/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

# Run pipeline

In [4]:
customer_dynamic_feature_config = CustomerDynamicFeaturePipelineConfig.create_default()

In [5]:
customer_dynamic_feature_pipeline = CustomerDynamicFeaturePipeline(customer_dynamic_feature_config)

In [6]:
customer_dynamic_feature_pipeline.setup()

2025-06-03 11:51:17,456 - src.feature_customers - INFO - Setting up CustomerDynamicFeaturePipeline
2025-06-03 11:51:17,457 - src.feature_customers - DEBUG - Config: {
  "config_processor": {
    "history_start_week_num": 52,
    "history_end_week_num": 104,
    "start_week_num": 95,
    "end_week_num": 104,
    "k_items": 5
  },
  "subsample": 0.05,
  "seed": 42
}

In [7]:
results_customer_dynamic_feature = customer_dynamic_feature_pipeline.run()

2025-06-03 11:51:17,476 - src.feature_customers - INFO - Loading data for CustomerDynamicFeaturePipeline
2025-06-03 11:51:17,477 - src.feature_extraction - INFO - Loading optimized raw data from transactions train 0.05 42
2025-06-03 11:51:17,477 - src.feature_extraction - DEBUG - Loading data from ../data/transactions_train_sample_0.05_42.parquet
2025-06-03 11:51:17,610 - src.feature_extraction - INFO - Loading optimized raw data from transactions valid 0.05 42
2025-06-03 11:51:17,611 - src.feature_extraction - DEBUG - Loading data from ../data/transactions_valid_sample_0.05_42.parquet
2025-06-03 11:51:17,614 - src.feature_extraction - INFO - Loading optimized raw data from transactions test 0.05 42
2025-06-03 11:51:17,614 - src.feature_extraction - DEBUG - Loading data from ../data/transactions_test_sample_0.05_42.parquet
2025-06-03 11:51:17,631 - src.features_articles - INFO - Loading article embedding result from ../data/preprocessed/articles_embedding/full
2025-06-03 11:51:17,703 - src.features_articles - INFO - Loaded text embeddings from ../data/preprocessed/articles_embedding/full/text_embeddings.npy
2025-06-03 11:51:17,754 - src.features_articles - INFO - Loaded image embeddings from ../data/preprocessed/articles_embedding/full/image_embeddings.npy
2025-06-03 11:51:17,755 - src.features_articles - INFO - Loaded image missing flags from ../data/preprocessed/articles_embedding/full/image_missing.npy
2025-06-03 11:51:17,793 - src.features_articles - INFO - Loaded id to index mapping from ../data/preprocessed/articles_embedding/full/id_to_index.json
2025-06-03 11:51:17,798 - src.feature_customers - INFO - Processing customer dynamic features
2025-06-03 11:51:17,799 - src.feature_customers - DEBUG - Filtering transactions to only include weeks between 52 and 104
2025-06-03 11:51:17,825 - src.feature_customers - DEBUG - Transactions after filtering: (755831, 6)
2025-06-03 11:51:17,826 - src.feature_customers - DEBUG - Min week: 52
2025-06-03 11:51:17,826 - src.feature_customers - DEBUG - Max week: 104
2025-06-03 11:51:17,827 - src.feature_customers - INFO - Getting last 5 items up to each week
  0%|          | 0/10 [00:00<?, ?it/s]2025-06-03 11:51:18,053 - src.feature_customers - DEBUG - min week: 52
2025-06-03 11:51:18,054 - src.feature_customers - DEBUG - max week: 95
2025-06-03 11:51:18,054 - src.feature_customers - DEBUG - week: 95
 10%|█         | 1/10 [00:00<00:04,  1.90it/s]2025-06-03 11:51:18,569 - src.feature_customers - DEBUG - min week: 52
2025-06-03 11:51:18,570 - src.feature_customers - DEBUG - max week: 96
2025-06-03 11:51:18,571 - src.feature_customers - DEBUG - week: 96
 20%|██        | 2/10 [00:01<00:04,  1.94it/s]2025-06-03 11:51:19,079 - src.feature_customers - DEBUG - min week: 52
2025-06-03 11:51:19,080 - src.feature_customers - DEBUG - max week: 97
2025-06-03 11:51:19,080 - src.feature_customers - DEBUG - week: 97
 30%|███       | 3/10 [00:01<00:03,  2.08it/s]2025-06-03 11:51:19,516 - src.feature_customers - DEBUG - min week: 52
2025-06-03 11:51:19,517 - src.feature_customers - DEBUG - max week: 98
2025-06-03 11:51:19,517 - src.feature_customers - DEBUG - week: 98
 40%|████      | 4/10 [00:01<00:02,  2.06it/s]2025-06-03 11:51:20,008 - src.feature_customers - DEBUG - min week: 52
2025-06-03 11:51:20,009 - src.feature_customers - DEBUG - max week: 99
2025-06-03 11:51:20,009 - src.feature_customers - DEBUG - week: 99
 50%|█████     | 5/10 [00:02<00:02,  2.15it/s]2025-06-03 11:51:20,439 - src.feature_customers - DEBUG - min week: 52
2025-06-03 11:51:20,440 - src.feature_customers - DEBUG - max week: 100
2025-06-03 11:51:20,440 - src.feature_customers - DEBUG - week: 100
 60%|██████    | 6/10 [00:02<00:01,  2.20it/s]2025-06-03 11:51:20,874 - src.feature_customers - DEBUG - min week: 52
2025-06-03 11:51:20,875 - src.feature_customers - DEBUG - max week: 101
2025-06-03 11:51:20,875 - src.feature_customers - DEBUG - week: 101
 70%|███████   | 7/10 [00:03<00:01,  2.12it/s]2025-06-03 11:51:21,379 - src.feature_customers - DEBUG - min week: 52
2025-06-03 11:51:21,380 - src.feature_customers - DEBUG - max week: 102
2025-06-03 11:51:21,380 - src.feature_customers - DEBUG - week: 102
 80%|████████  | 8/10 [00:03<00:00,  2.17it/s]2025-06-03 11:51:21,817 - src.feature_customers - DEBUG - min week: 52
2025-06-03 11:51:21,817 - src.feature_customers - DEBUG - max week: 103
2025-06-03 11:51:21,818 - src.feature_customers - DEBUG - week: 103
 90%|█████████ | 9/10 [00:04<00:00,  2.09it/s]2025-06-03 11:51:22,323 - src.feature_customers - DEBUG - min week: 52
2025-06-03 11:51:22,324 - src.feature_customers - DEBUG - max week: 104
2025-06-03 11:51:22,324 - src.feature_customers - DEBUG - week: 104
100%|██████████| 10/10 [00:04<00:00,  2.12it/s]
2025-06-03 11:51:22,757 - src.feature_customers - DEBUG - Last 5 items by week has shape: (480373, 4)
2025-06-03 11:51:22,758 - src.feature_customers - INFO - Calculating average embeddings for 480373 customer-week combinations
2025-06-03 11:51:44,834 - src.feature_customers - DEBUG - Results DataFrame has shape: (480373, 5)
2025-06-03 11:51:44,869 - src.feature_customers - DEBUG - Customer IDs: 21833
2025-06-03 11:51:44,869 - src.feature_customers - DEBUG - Customer IDs: [    6010692573790711     7678388473497046    10698768556209946 ...
 18051653860922387635 18076346356946498150 18280774073487049380]
2025-06-03 11:51:44,870 - src.feature_customers - INFO - Generating cross join of customer-week pairs
2025-06-03 11:51:44,877 - src.feature_customers - DEBUG - Cross join has shape: (218330, 2)
2025-06-03 11:51:44,878 - src.feature_customers - DEBUG - Cross join has columns: Index(['customer_id', 'week_num'], dtype='object')
2025-06-03 11:51:44,930 - src.feature_customers - DEBUG - Cross join has shape: (218330, 5)
2025-06-03 11:51:44,931 - src.feature_customers - DEBUG - Cross join has columns: Index(['customer_id', 'week_num', 'customer_avg_price',
       'customer_avg_text_embedding', 'customer_avg_image_embedding'],
      dtype='object')
2025-06-03 11:51:44,931 - src.feature_customers - INFO - Filling missing values
2025-06-03 11:51:45,006 - src.feature_customers - DEBUG - Cross join after filling missing values has shape: (218330, 5)
2025-06-03 11:51:45,007 - src.feature_customers - DEBUG - Cross join after filling missing values has columns: Index(['customer_id', 'week_num', 'customer_avg_price',
       'customer_avg_text_embedding', 'customer_avg_image_embedding'],
      dtype='object')
2025-06-03 11:51:45,027 - src.feature_customers - DEBUG - Missing values filled: customer_id                         0
week_num                            0
customer_avg_price                  0
customer_avg_text_embedding     17427
customer_avg_image_embedding    17427
dtype: int64
2025-06-03 11:51:45,321 - src.feature_customers - INFO - Saving customer dynamic feature result to ../data/preprocessed/customers_dynamic/subsample_0.05_42
2025-06-03 11:51:50,020 - src.feature_customers - INFO - Saved data to ../data/preprocessed/customers_dynamic/subsample_0.05_42/data.parquet
2025-06-03 11:51:50,022 - src.feature_customers - INFO - Saved feature names to ../data/preprocessed/customers_dynamic/subsample_0.05_42/feature_names.json

# Checks

In [8]:
results_customer_dynamic_feature.data.info()
print(results_customer_dynamic_feature.data.shape)
display(results_customer_dynamic_feature.data.head())
print(results_customer_dynamic_feature.feature_names)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 218330 entries, 0 to 218329
Data columns (total 5 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   customer_id                   218330 non-null  uint64
 1   week_num                      218330 non-null  int64
 2   customer_avg_price            218330 non-null  float64
 3   customer_avg_text_embedding   200903 non-null  object
 4   customer_avg_image_embedding  200903 non-null  object
dtypes: float64(1), int64(1), object(2), uint64(1)
memory usage: 8.3+ MB
(218330, 5)

,customer_id,week_num,customer_avg_price,customer_avg_text_embedding,customer_avg_image_embedding
0,1296218836199721,95,0.026078,NaN,NaN
1,1296218836199721,96,0.025866,NaN,NaN
2,1296218836199721,97,0.025634,NaN,NaN
3,1296218836199721,98,0.025449,NaN,NaN
4,1296218836199721,99,0.025439,NaN,NaN

{'numerical_features': ['customer_avg_price'], 'embedding_features': ['customer_avg_text_embedding', 'customer_avg_image_embedding'], 'one_hot_features': [], 'categorical_features': [], 'id_columns': ['customer_id', 'week_num']}

In [9]:
# Check the shape of the dataframe should match number of customers * number of weeks
print(results_customer_dynamic_feature.data.shape)
print(results_customer_dynamic_feature.data.customer_id.nunique())
print(results_customer_dynamic_feature.data.week_num.value_counts())

(218330, 5)
21833
week_num
95     21833
96     21833
97     21833
98     21833
99     21833
100    21833
101    21833
102    21833
103    21833
104    21833
Name: count, dtype: int64

## Check that the avg embeddings make sense

In [10]:
import numpy as np

from src.feature_customers import CustomerDynamicFeatureProcessor
from src.feature_extraction import load_optimized_raw_data
from src.features_articles import ArticleEmbeddingResult, get_path_to_article_features
from src.utils.data_checks import test_feature_customer_avg_embedding, test_feature_customer_avg_embedding_pipeline

In [11]:
transactions_train = load_optimized_raw_data(data_type="transactions", sample="train", subsample=0.05, seed=42)
transactions_valid = load_optimized_raw_data(data_type="transactions", sample="valid", subsample=0.05, seed=42)
transactions_test = load_optimized_raw_data(data_type="transactions", sample="test", subsample=0.05, seed=42)
path_article_embeddings = get_path_to_article_features(feature_type="embedding", subsample=1, seed=42)
results_article_embeddings = ArticleEmbeddingResult.load(path_to_dir=path_article_embeddings)

2025-06-03 11:51:50,405 - src.feature_extraction - INFO - Loading optimized raw data from transactions train 0.05 42
2025-06-03 11:51:50,406 - src.feature_extraction - DEBUG - Loading data from ../data/transactions_train_sample_0.05_42.parquet
2025-06-03 11:51:50,434 - src.feature_extraction - INFO - Loading optimized raw data from transactions valid 0.05 42
2025-06-03 11:51:50,435 - src.feature_extraction - DEBUG - Loading data from ../data/transactions_valid_sample_0.05_42.parquet
2025-06-03 11:51:50,438 - src.feature_extraction - INFO - Loading optimized raw data from transactions test 0.05 42
2025-06-03 11:51:50,439 - src.feature_extraction - DEBUG - Loading data from ../data/transactions_test_sample_0.05_42.parquet
2025-06-03 11:51:50,442 - src.features_articles - INFO - Loading article embedding result from ../data/preprocessed/articles_embedding/full
2025-06-03 11:51:50,551 - src.features_articles - INFO - Loaded text embeddings from ../data/preprocessed/articles_embedding/full/text_embeddings.npy
2025-06-03 11:51:50,622 - src.features_articles - INFO - Loaded image embeddings from ../data/preprocessed/articles_embedding/full/image_embeddings.npy
2025-06-03 11:51:50,624 - src.features_articles - INFO - Loaded image missing flags from ../data/preprocessed/articles_embedding/full/image_missing.npy
2025-06-03 11:51:50,657 - src.features_articles - INFO - Loaded id to index mapping from ../data/preprocessed/articles_embedding/full/id_to_index.json

In [12]:
transactions = pd.concat([transactions_train, transactions_valid, transactions_test], ignore_index=True)

In [15]:
# Test metadata of pipeline
test_feature_customer_avg_embedding_pipeline(
    results_customer_dynamic_feature,
    transactions,
    customer_dynamic_feature_config,
)

Checks passed

In [16]:
# Test accuracy of avg embeddings
for customer_id in results_customer_dynamic_feature.data.customer_id.unique()[:5]:
    test_feature_customer_avg_embedding(
        results_customer_dynamic_feature,
        transactions,
        results_article_embeddings,
        customer_dynamic_feature_config,
        customer_id,
    )
    print("=" * 80)

Customer 1296218836199721 has 10 weeks: [ 95  96  97  98  99 100 101 102 103 104]

Empty DataFrame
Columns: [t_dat, customer_id, article_id, price, sales_channel_id, week_num]
Index: []

No previous transactions for customer 1296218836199721 and week 95

Empty DataFrame
Columns: [t_dat, customer_id, article_id, price, sales_channel_id, week_num]
Index: []

No previous transactions for customer 1296218836199721 and week 96

Empty DataFrame
Columns: [t_dat, customer_id, article_id, price, sales_channel_id, week_num]
Index: []

No previous transactions for customer 1296218836199721 and week 97

Empty DataFrame
Columns: [t_dat, customer_id, article_id, price, sales_channel_id, week_num]
Index: []

No previous transactions for customer 1296218836199721 and week 98

Empty DataFrame
Columns: [t_dat, customer_id, article_id, price, sales_channel_id, week_num]
Index: []

No previous transactions for customer 1296218836199721 and week 99

Empty DataFrame
Columns: [t_dat, customer_id, article_id, price, sales_channel_id, week_num]
Index: []

No previous transactions for customer 1296218836199721 and week 100

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
1552657,2020-08-29,1296218836199721,786187005,0.030492,1,101
1552658,2020-08-29,1296218836199721,843793004,0.030492,1,101
1552659,2020-08-29,1296218836199721,855080002,0.022017,1,101
1552660,2020-08-29,1296218836199721,903306004,0.016932,1,101

Calculating avg price and embeddings for customer 1296218836199721 and week 101
Checks for customer 1296218836199721 and week 101 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
1552657,2020-08-29,1296218836199721,786187005,0.030492,1,101
1552658,2020-08-29,1296218836199721,843793004,0.030492,1,101
1552659,2020-08-29,1296218836199721,855080002,0.022017,1,101
1552660,2020-08-29,1296218836199721,903306004,0.016932,1,101

Calculating avg price and embeddings for customer 1296218836199721 and week 102
Checks for customer 1296218836199721 and week 102 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
1552657,2020-08-29,1296218836199721,786187005,0.030492,1,101
1552658,2020-08-29,1296218836199721,843793004,0.030492,1,101
1552659,2020-08-29,1296218836199721,855080002,0.022017,1,101
1552660,2020-08-29,1296218836199721,903306004,0.016932,1,101

Calculating avg price and embeddings for customer 1296218836199721 and week 103
Checks for customer 1296218836199721 and week 103 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
1552657,2020-08-29,1296218836199721,786187005,0.030492,1,101
1552658,2020-08-29,1296218836199721,843793004,0.030492,1,101
1552659,2020-08-29,1296218836199721,855080002,0.022017,1,101
1552660,2020-08-29,1296218836199721,903306004,0.016932,1,101

Calculating avg price and embeddings for customer 1296218836199721 and week 104
Checks for customer 1296218836199721 and week 104 passed
================================================================================
Customer 1773900972412728 has 10 weeks: [ 95  96  97  98  99 100 101 102 103 104]

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
1017141,2019-12-18,1773900972412728,554450027,0.022017,2,65
1017142,2019-12-18,1773900972412728,636093001,0.022017,2,65
1017143,2019-12-18,1773900972412728,677076001,0.016932,2,65
1017145,2019-12-18,1773900972412728,711464008,0.015237,2,65
1017146,2019-12-18,1773900972412728,732412003,0.015237,2,65

Calculating avg price and embeddings for customer 1773900972412728 and week 95
Checks for customer 1773900972412728 and week 95 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
1017141,2019-12-18,1773900972412728,554450027,0.022017,2,65
1017142,2019-12-18,1773900972412728,636093001,0.022017,2,65
1017143,2019-12-18,1773900972412728,677076001,0.016932,2,65
1017145,2019-12-18,1773900972412728,711464008,0.015237,2,65
1017146,2019-12-18,1773900972412728,732412003,0.015237,2,65

Calculating avg price and embeddings for customer 1773900972412728 and week 96
Checks for customer 1773900972412728 and week 96 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
1491575,2020-07-30,1773900972412728,464297007,0.016932,2,97
1491576,2020-07-30,1773900972412728,554450001,0.033881,2,97
1017141,2019-12-18,1773900972412728,554450027,0.022017,2,65
1017142,2019-12-18,1773900972412728,636093001,0.022017,2,65
1017143,2019-12-18,1773900972412728,677076001,0.016932,2,65

Calculating avg price and embeddings for customer 1773900972412728 and week 97
Checks for customer 1773900972412728 and week 97 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
1517392,2020-08-11,1773900972412728,590928023,0.030492,2,98
1517393,2020-08-11,1773900972412728,684209019,0.025407,2,98
1517394,2020-08-11,1773900972412728,776237011,0.025407,2,98
1517395,2020-08-11,1773900972412728,832114002,0.016932,2,98
1517398,2020-08-11,1773900972412728,834258001,0.030492,2,98

Calculating avg price and embeddings for customer 1773900972412728 and week 98
Checks for customer 1773900972412728 and week 98 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
1523379,2020-08-13,1773900972412728,599580072,0.016932,2,99
1517392,2020-08-11,1773900972412728,590928023,0.030492,2,98
1517393,2020-08-11,1773900972412728,684209019,0.025407,2,98
1517394,2020-08-11,1773900972412728,776237011,0.025407,2,98
1517395,2020-08-11,1773900972412728,832114002,0.016932,2,98

Calculating avg price and embeddings for customer 1773900972412728 and week 99
Checks for customer 1773900972412728 and week 99 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
1523379,2020-08-13,1773900972412728,599580072,0.016932,2,99
1517392,2020-08-11,1773900972412728,590928023,0.030492,2,98
1517393,2020-08-11,1773900972412728,684209019,0.025407,2,98
1517394,2020-08-11,1773900972412728,776237011,0.025407,2,98
1517395,2020-08-11,1773900972412728,832114002,0.016932,2,98

Calculating avg price and embeddings for customer 1773900972412728 and week 100
Checks for customer 1773900972412728 and week 100 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
1523379,2020-08-13,1773900972412728,599580072,0.016932,2,99
1517392,2020-08-11,1773900972412728,590928023,0.030492,2,98
1517393,2020-08-11,1773900972412728,684209019,0.025407,2,98
1517394,2020-08-11,1773900972412728,776237011,0.025407,2,98
1517395,2020-08-11,1773900972412728,832114002,0.016932,2,98

Calculating avg price and embeddings for customer 1773900972412728 and week 101
Checks for customer 1773900972412728 and week 101 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
1523379,2020-08-13,1773900972412728,599580072,0.016932,2,99
1517392,2020-08-11,1773900972412728,590928023,0.030492,2,98
1517393,2020-08-11,1773900972412728,684209019,0.025407,2,98
1517394,2020-08-11,1773900972412728,776237011,0.025407,2,98
1517395,2020-08-11,1773900972412728,832114002,0.016932,2,98

Calculating avg price and embeddings for customer 1773900972412728 and week 102
Checks for customer 1773900972412728 and week 102 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
1523379,2020-08-13,1773900972412728,599580072,0.016932,2,99
1517392,2020-08-11,1773900972412728,590928023,0.030492,2,98
1517393,2020-08-11,1773900972412728,684209019,0.025407,2,98
1517394,2020-08-11,1773900972412728,776237011,0.025407,2,98
1517395,2020-08-11,1773900972412728,832114002,0.016932,2,98

Calculating avg price and embeddings for customer 1773900972412728 and week 103
Checks for customer 1773900972412728 and week 103 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
1523379,2020-08-13,1773900972412728,599580072,0.016932,2,99
1517392,2020-08-11,1773900972412728,590928023,0.030492,2,98
1517393,2020-08-11,1773900972412728,684209019,0.025407,2,98
1517394,2020-08-11,1773900972412728,776237011,0.025407,2,98
1517395,2020-08-11,1773900972412728,832114002,0.016932,2,98

Calculating avg price and embeddings for customer 1773900972412728 and week 104
Checks for customer 1773900972412728 and week 104 passed
================================================================================
Customer 1827730561464445 has 10 weeks: [ 95  96  97  98  99 100 101 102 103 104]

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
1462255,2020-07-16,1827730561464445,739590032,0.016932,2,95
1462256,2020-07-16,1827730561464445,744394001,0.015237,2,95
1462257,2020-07-16,1827730561464445,764621001,0.011847,2,95
1462259,2020-07-16,1827730561464445,802485004,0.025407,2,95
1462260,2020-07-16,1827730561464445,823118002,0.015237,2,95

Calculating avg price and embeddings for customer 1827730561464445 and week 95
Checks for customer 1827730561464445 and week 95 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
1462255,2020-07-16,1827730561464445,739590032,0.016932,2,95
1462256,2020-07-16,1827730561464445,744394001,0.015237,2,95
1462257,2020-07-16,1827730561464445,764621001,0.011847,2,95
1462259,2020-07-16,1827730561464445,802485004,0.025407,2,95
1462260,2020-07-16,1827730561464445,823118002,0.015237,2,95

Calculating avg price and embeddings for customer 1827730561464445 and week 96
Checks for customer 1827730561464445 and week 96 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
1501992,2020-08-04,1827730561464445,739590031,0.016932,2,97
1501993,2020-08-04,1827730561464445,806534001,0.033881,2,97
1501994,2020-08-04,1827730561464445,811899003,0.042356,2,97
1501995,2020-08-04,1827730561464445,812364012,0.016932,2,97
1501996,2020-08-04,1827730561464445,860949001,0.013542,2,97

Calculating avg price and embeddings for customer 1827730561464445 and week 97
Checks for customer 1827730561464445 and week 97 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
1510119,2020-08-07,1827730561464445,893730001,0.059305,2,98
1501992,2020-08-04,1827730561464445,739590031,0.016932,2,97
1501993,2020-08-04,1827730561464445,806534001,0.033881,2,97
1501994,2020-08-04,1827730561464445,811899003,0.042356,2,97
1501995,2020-08-04,1827730561464445,812364012,0.016932,2,97

Calculating avg price and embeddings for customer 1827730561464445 and week 98
Checks for customer 1827730561464445 and week 98 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
1510119,2020-08-07,1827730561464445,893730001,0.059305,2,98
1501992,2020-08-04,1827730561464445,739590031,0.016932,2,97
1501993,2020-08-04,1827730561464445,806534001,0.033881,2,97
1501994,2020-08-04,1827730561464445,811899003,0.042356,2,97
1501995,2020-08-04,1827730561464445,812364012,0.016932,2,97

Calculating avg price and embeddings for customer 1827730561464445 and week 99
Checks for customer 1827730561464445 and week 99 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
1510119,2020-08-07,1827730561464445,893730001,0.059305,2,98
1501992,2020-08-04,1827730561464445,739590031,0.016932,2,97
1501993,2020-08-04,1827730561464445,806534001,0.033881,2,97
1501994,2020-08-04,1827730561464445,811899003,0.042356,2,97
1501995,2020-08-04,1827730561464445,812364012,0.016932,2,97

Calculating avg price and embeddings for customer 1827730561464445 and week 100
Checks for customer 1827730561464445 and week 100 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
1510119,2020-08-07,1827730561464445,893730001,0.059305,2,98
1501992,2020-08-04,1827730561464445,739590031,0.016932,2,97
1501993,2020-08-04,1827730561464445,806534001,0.033881,2,97
1501994,2020-08-04,1827730561464445,811899003,0.042356,2,97
1501995,2020-08-04,1827730561464445,812364012,0.016932,2,97

Calculating avg price and embeddings for customer 1827730561464445 and week 101
Checks for customer 1827730561464445 and week 101 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
1565781,2020-09-05,1827730561464445,547780001,0.025407,2,102
1565782,2020-09-05,1827730561464445,547780003,0.025407,2,102
1565783,2020-09-05,1827730561464445,715624052,0.025407,2,102
1565785,2020-09-05,1827730561464445,760084003,0.025407,2,102
1565787,2020-09-05,1827730561464445,760084006,0.025407,2,102

Calculating avg price and embeddings for customer 1827730561464445 and week 102
Checks for customer 1827730561464445 and week 102 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
1565781,2020-09-05,1827730561464445,547780001,0.025407,2,102
1565782,2020-09-05,1827730561464445,547780003,0.025407,2,102
1565783,2020-09-05,1827730561464445,715624052,0.025407,2,102
1565785,2020-09-05,1827730561464445,760084003,0.025407,2,102
1565787,2020-09-05,1827730561464445,760084006,0.025407,2,102

Calculating avg price and embeddings for customer 1827730561464445 and week 103
Checks for customer 1827730561464445 and week 103 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
1591789,2020-09-19,1827730561464445,918603001,0.047932,1,104
1591790,2020-09-19,1827730561464445,921380001,0.063898,1,104
1565781,2020-09-05,1827730561464445,547780001,0.025407,2,102
1565782,2020-09-05,1827730561464445,547780003,0.025407,2,102
1565783,2020-09-05,1827730561464445,715624052,0.025407,2,102

Calculating avg price and embeddings for customer 1827730561464445 and week 104
Checks for customer 1827730561464445 and week 104 passed
================================================================================
Customer 3828854365940846 has 10 weeks: [ 95  96  97  98  99 100 101 102 103 104]

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
1444931,2020-07-08,3828854365940846,507883009,0.013542,1,94
1444932,2020-07-08,3828854365940846,688728023,0.025407,1,94
1387724,2020-06-20,3828854365940846,554598047,0.015237,2,91
1387725,2020-06-20,3828854365940846,832732002,0.015237,2,91
1387726,2020-06-20,3828854365940846,841383002,0.007610,2,91

Calculating avg price and embeddings for customer 3828854365940846 and week 95
Checks for customer 3828854365940846 and week 95 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
1444931,2020-07-08,3828854365940846,507883009,0.013542,1,94
1444932,2020-07-08,3828854365940846,688728023,0.025407,1,94
1387724,2020-06-20,3828854365940846,554598047,0.015237,2,91
1387725,2020-06-20,3828854365940846,832732002,0.015237,2,91
1387726,2020-06-20,3828854365940846,841383002,0.007610,2,91

Calculating avg price and embeddings for customer 3828854365940846 and week 96
Checks for customer 3828854365940846 and week 96 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
1444931,2020-07-08,3828854365940846,507883009,0.013542,1,94
1444932,2020-07-08,3828854365940846,688728023,0.025407,1,94
1387724,2020-06-20,3828854365940846,554598047,0.015237,2,91
1387725,2020-06-20,3828854365940846,832732002,0.015237,2,91
1387726,2020-06-20,3828854365940846,841383002,0.007610,2,91

Calculating avg price and embeddings for customer 3828854365940846 and week 97
Checks for customer 3828854365940846 and week 97 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
1444931,2020-07-08,3828854365940846,507883009,0.013542,1,94
1444932,2020-07-08,3828854365940846,688728023,0.025407,1,94
1387724,2020-06-20,3828854365940846,554598047,0.015237,2,91
1387725,2020-06-20,3828854365940846,832732002,0.015237,2,91
1387726,2020-06-20,3828854365940846,841383002,0.007610,2,91

Calculating avg price and embeddings for customer 3828854365940846 and week 98
Checks for customer 3828854365940846 and week 98 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
1444931,2020-07-08,3828854365940846,507883009,0.013542,1,94
1444932,2020-07-08,3828854365940846,688728023,0.025407,1,94
1387724,2020-06-20,3828854365940846,554598047,0.015237,2,91
1387725,2020-06-20,3828854365940846,832732002,0.015237,2,91
1387726,2020-06-20,3828854365940846,841383002,0.007610,2,91

Calculating avg price and embeddings for customer 3828854365940846 and week 99
Checks for customer 3828854365940846 and week 99 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
1541826,2020-08-24,3828854365940846,736870017,0.016932,1,100
1541827,2020-08-24,3828854365940846,768912001,0.016932,1,100
1541828,2020-08-24,3828854365940846,910132001,0.016932,1,100
1444931,2020-07-08,3828854365940846,507883009,0.013542,1,94
1444932,2020-07-08,3828854365940846,688728023,0.025407,1,94

Calculating avg price and embeddings for customer 3828854365940846 and week 100
Checks for customer 3828854365940846 and week 100 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
1541826,2020-08-24,3828854365940846,736870017,0.016932,1,100
1541827,2020-08-24,3828854365940846,768912001,0.016932,1,100
1541828,2020-08-24,3828854365940846,910132001,0.016932,1,100
1444931,2020-07-08,3828854365940846,507883009,0.013542,1,94
1444932,2020-07-08,3828854365940846,688728023,0.025407,1,94

Calculating avg price and embeddings for customer 3828854365940846 and week 101
Checks for customer 3828854365940846 and week 101 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
1541826,2020-08-24,3828854365940846,736870017,0.016932,1,100
1541827,2020-08-24,3828854365940846,768912001,0.016932,1,100
1541828,2020-08-24,3828854365940846,910132001,0.016932,1,100
1444931,2020-07-08,3828854365940846,507883009,0.013542,1,94
1444932,2020-07-08,3828854365940846,688728023,0.025407,1,94

Calculating avg price and embeddings for customer 3828854365940846 and week 102
Checks for customer 3828854365940846 and week 102 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
1541826,2020-08-24,3828854365940846,736870017,0.016932,1,100
1541827,2020-08-24,3828854365940846,768912001,0.016932,1,100
1541828,2020-08-24,3828854365940846,910132001,0.016932,1,100
1444931,2020-07-08,3828854365940846,507883009,0.013542,1,94
1444932,2020-07-08,3828854365940846,688728023,0.025407,1,94

Calculating avg price and embeddings for customer 3828854365940846 and week 103
Checks for customer 3828854365940846 and week 103 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
1541826,2020-08-24,3828854365940846,736870017,0.016932,1,100
1541827,2020-08-24,3828854365940846,768912001,0.016932,1,100
1541828,2020-08-24,3828854365940846,910132001,0.016932,1,100
1444931,2020-07-08,3828854365940846,507883009,0.013542,1,94
1444932,2020-07-08,3828854365940846,688728023,0.025407,1,94

Calculating avg price and embeddings for customer 3828854365940846 and week 104
Checks for customer 3828854365940846 and week 104 passed
================================================================================
Customer 4380278954532948 has 10 weeks: [ 95  96  97  98  99 100 101 102 103 104]

Empty DataFrame
Columns: [t_dat, customer_id, article_id, price, sales_channel_id, week_num]
Index: []

No previous transactions for customer 4380278954532948 and week 95

Empty DataFrame
Columns: [t_dat, customer_id, article_id, price, sales_channel_id, week_num]
Index: []

No previous transactions for customer 4380278954532948 and week 96

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
1499799,2020-08-03,4380278954532948,833499003,0.022864,2,97
1499800,2020-08-03,4380278954532948,833530003,0.015237,2,97

Calculating avg price and embeddings for customer 4380278954532948 and week 97
Checks for customer 4380278954532948 and week 97 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
1499799,2020-08-03,4380278954532948,833499003,0.022864,2,97
1499800,2020-08-03,4380278954532948,833530003,0.015237,2,97

Calculating avg price and embeddings for customer 4380278954532948 and week 98
Checks for customer 4380278954532948 and week 98 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
1499799,2020-08-03,4380278954532948,833499003,0.022864,2,97
1499800,2020-08-03,4380278954532948,833530003,0.015237,2,97

Calculating avg price and embeddings for customer 4380278954532948 and week 99
Checks for customer 4380278954532948 and week 99 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
1499799,2020-08-03,4380278954532948,833499003,0.022864,2,97
1499800,2020-08-03,4380278954532948,833530003,0.015237,2,97

Calculating avg price and embeddings for customer 4380278954532948 and week 100
Checks for customer 4380278954532948 and week 100 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
1499799,2020-08-03,4380278954532948,833499003,0.022864,2,97
1499800,2020-08-03,4380278954532948,833530003,0.015237,2,97

Calculating avg price and embeddings for customer 4380278954532948 and week 101
Checks for customer 4380278954532948 and week 101 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
1499799,2020-08-03,4380278954532948,833499003,0.022864,2,97
1499800,2020-08-03,4380278954532948,833530003,0.015237,2,97

Calculating avg price and embeddings for customer 4380278954532948 and week 102
Checks for customer 4380278954532948 and week 102 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
1499799,2020-08-03,4380278954532948,833499003,0.022864,2,97
1499800,2020-08-03,4380278954532948,833530003,0.015237,2,97

Calculating avg price and embeddings for customer 4380278954532948 and week 103
Checks for customer 4380278954532948 and week 103 passed

,t_dat,customer_id,article_id,price,sales_channel_id,week_num
1499799,2020-08-03,4380278954532948,833499003,0.022864,2,97
1499800,2020-08-03,4380278954532948,833530003,0.015237,2,97

Calculating avg price and embeddings for customer 4380278954532948 and week 104
Checks for customer 4380278954532948 and week 104 passed
================================================================================